<h2>Products</h2>
<% if current_user %>
  <%= link_to "Add a new product", "products/new" %>
<% end %>
<div class="products-container">
  <div class="products-inner-container">
      <div style="text-align:center"><small><%= page_entries_info @products %></small></div>
    <ul class="products-front">
      <%= render @products %>
    </ul>
<div style="text-align:center"><%= paginate @products %></div>
</div>
  
